@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@theme {
  --font-family-display: "Inter", sans-serif;
  
  --color-primary: #13ec13;
  --color-green-dark: #1a3a1a;
  --color-green-medium: #4c854c;
  --color-background-light: #f7fafc;
  --color-background-dark: #102210;
}

* {
  font-family: "Inter", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
